<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Results</title>
</head>
<body>
    <a href="{{ url_for('index') }}">Back to Main Page</a>
    <h1>View Data</h1>
    <ul>
        {% for item in data %}
            <li>
                <strong>Player Gesture:</strong> {{ item.playerGesture }}<br>
                <strong>Computer Gesture:</strong> {{ item.compGesture }}<br>
                <strong>Winner:</strong> {% if item.winner == 1 %}Player{% elif item.winner == 2 %}Computer{% elif item.winner == 0 %}Tie{% else %}Unknown{% endif %}<br>
                <strong>Image:</strong> <img src="{{ item.image }}" alt="Image Viewer"><br>
            </li>
        {% endfor %}
    </ul>
</body>
</html>